.navbar .icon img {
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar {
    padding: 18px;
}

.navbar-expand-sm .navbar-nav .lk {
    padding-right: 25px;
}

.navbar-nav .nav-link {
    color: gray;
    transition: color 0.2s ease-in-out;
}
.navbar-nav .nav-link-selected{
    color:black;
    transition: color 0.2s ease-in-out;
    padding :8px  25px  8px 8px;
    margin-bottom :0px;
    text-decoration: underline;
}
.nav-link:hover {
    color: black;
}

.navbar .cart-total {
	display: block;
	text-align: center;
	color: white;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
    font-family: Arial , sans-serif;
    float: right;
}

.btn-outline-success:active{
    background-color: gray;
}

.btn-dark {
    padding-top: 2px;
}

.navbar .btn-dark img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.form-control .search-input .me-2{
    font-family: Arial , sans-serif;
}

hr {
    margin: 0;
    color: black;
}