{% extends 'store/layout.html' %}
{% load static %}
{% load store_tags %}
{% block title %}{% endblock %}

{% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}
.size{
	text-align: left;
}
.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
    height: 20px;
}

.product-links img {
    height: 20px;
    padding-right: 3px;
    transition: .2s;
}

.product-links img:hover {
    scale: 108%;
}

.product-links img:focus {
    color: greenyellow;
}


    </style>
    <div class="product-card" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px; border-radius: 4px">
		<div class="product-tumb">
			<img src="{{product.photo.url}}" alt="">
		</div>
		<div class="product-details">
			<span class="product-catagory">{{product.gender}}, {{product.cat}}</span>
			<h4>{{product.name}}</h4>
			<p>{{product.description}}</p>
			<div class="product-bottom-details">
				{%if product.discount%}
				<div style="color: red" class="product-price"><small style="color: black">${{product.price_discount}}</small>${{product.price}}</div>
				{%else%}
				<div style="color: black" class="product-price">${{product.price}}</div>
				{%endif%}
				<div class="product-links">

					<a href="{{product.get_add_favorite}}"><i class="fa fa-heart"><img src="../../static/store/img/heart.png" alt="Heart Icon"></i></a>

				</div>

			</div>

			<select name="sizes" id="sizes" >
			{%for size in product.sizes.all%}
            <option value="{{size.name}}">{{size.name}}</option>
			{%endfor%}
			</select>

			<input type="button" id="addcart" value="Add to Cart"  name="" class="btn btn-outline-success add-btn">


		</div>
	</div>

    <style>
@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}
    </style>
    <h3 style="text-align: center;">Comments:</h3>
    {% for comment in comments %}
    <div class="col-md-8" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px; border-radius: 4px; margin: 30px auto;">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.user }}</h5>
                <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.created_at }}</span>
              </div>
              <p style="margin-bottom: 0;"><br>Rating: {{ comment.rating }}<br>{{ comment.text }}</p>
            </div>
        </div>
    </div>
    {% empty %}
        <p style="text-align: center; margin-top: 16px; font-size: 20px;">No comments yet...</p>
    {% endfor %}

    <h3 style="text-align: center; margin-top: 50px;">Add Comment:</h3>
    <div class="col-md-3" style="box-shadow:hsl(0, 0%, 80%) 0 0 16px; border-radius: 4px; margin: 30px auto;">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <form method="post" action="{% url 'product' product_slug=product.slug %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success add-btn" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

<script>

document.addEventListener("DOMContentLoaded", function() {
  document.getElementById("addcart").onclick = function() {
  	var size = document.getElementById("sizes").value
    window.location.href = "/add_to_cart/"+"{{product.slug}}"+"/"+size+"/";

};
});
</script>
{% endblock %}